html, body, ul {
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
#navigation{
	background:black;
	display: grid;
	grid-template-columns: 6fr 2fr;
	align-items: center;
	position: sticky;
	top: 0;
}
.inner_nav{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.inner_nav a {
	color: white;
}
nav > h1 {
	display: inline;
	color: white
}

.toplinkcontainer {
	margin-bottom: 1em;
}

#mapedit {
	margin-left: 1%;
	margin-right: 1%
}


#intro {
	background-image: url('site_images/intro_image1.jpg');
	background-size: 100%;
	background-position: center;
	background-attachment: fixed;
	padding: 268px;
	margin-left: 1%;
	margin-right: 1%;
	
}

#intro > h2 {
	color: lemonchiffon;
	text-align: center;
	font-size: 20;
}

#intro > h3 {
	color: lemonchiffon;
	text-align: center;
}

#intro > h4 {
	color: lemonchiffon;
	text-align: center;
}

#map > h1 {

	text-align: center;

}

.toplinkcontainer {
	text-align: center;
}

#gallery > h1 {
	text-align: center;
}
.grid{
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 1em;
	width: 95%;
	margin: auto;

}
.grid img {
	max-width: 100%;
}

#soloimg > img {
	
	max-width: 100%;

}
#soloimg {
	margin: auto;
	width: 95%;
	margin-top: 1em;
}

#skateboards > h1 {
	text-align: center;
}

.deckgrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width:75%;
	margin:auto;
	/* width: 100%; */
}

.deckgrid img {
	width: 100%;
}

.deckgrid h1 {
	text-align: center;
}

#teamsec > h1 {
	text-align: center;
}

.teamgrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width:75%;
	margin:auto;
}

.teamgrid img {
	width:100%
}

.footer {
	text-align: center;
	background-color: black;
	
}

.footer p {
	color: white;
}